<section class="container">
  <div class="row">
    <div class="column">
      <fieldset>
        <label for="filter">Filter Topic</label>
        <input type="text" placeholder="" id="filter-topic" />
      </fieldset>
    </div>
  </div>
  {{ if ne (relURL .URL) ("/" | safeHTML) }}
  <div class="row">
    <div class="column">{{- partial "breadcrumb.html" . -}}</div>
  </div>
  {{ end }} {{if ge .Pages 1}}
  <section class="cards">
    {{ range sort .Pages }} {{ if not (in .Params.categories "nav") }}

    <div class="card">
      <a href="{{ .Permalink }}">{{ substr .Title 0 16 }}</a>
    </div>
    {{ end }} {{ end }}
  </section>

  {{else}}
  <div class="row">
    <div class="column">
      <p>
        There is no content yet. Would you like to contribute? Checkout our
        <a href="/contribute">contribution guideline</a>
      </p>
    </div>
  </div>
  {{end}}
</section>
